@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7fcbe;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.conteudo {
    display: flex;
    gap: 10rem;
    margin: 5rem 0 0 5rem;
}

.formulario {
    border: solid 2px black;
    padding: 1rem;
    text-align: end; 
    background-color: #d0faa5;  
}

.formulario__botao{
    background: black;
    color: white;
    padding: .3rem;
    border-radius: 10px;
}

.lista {
    display: flex;
    flex-direction: column;
}

.item {
    background-color: #d0faa5;
    list-style: none;
    padding: 0.3rem 1rem;
    border: solid 1px black;
    border-radius: .5rem;
    margin-bottom: .3rem;
    align-items: center;
    gap: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.item strong {
    background: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}